header {
  font-size: 2rem;
  font-weight: bold;
}

.code-wrap {
  background: black;
  color: greenyellow;
  padding: 20px;
}

.container {
  display: flex;
}

.nav-link {
  font-size: 1.25rem;
  text-decoration: none;
}

#nav-title {
  padding: 10px;
  text-align: center;
}

#main-doc {
  height: auto;
  position: absolute;
  right: 0;
  width: 76%;
}

#navbar {
  border: 2px darkblue solid;
  height: 100%;
  position: fixed;
  outline: 1px solid;
  overflow-y: auto;
  text-align: center;
  width: 22%;
}
